<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <h1>Successfull Registration</h1>

    <p><span>NOTE:</span> Participant-1 / Leader will be contacted or will receive an email from the event coordinators themselves in 24 hours once payment verification is done. If not contacted in 24 hours, participants are advised to contact event coordinators.</p>


    <style>
        *{
            font-family: 'Satisfy', cursive;
            color:#2e2e2e;
        }
        h1{
            font-size:5rem;
        }
        p{
            font-size:2rem;
        }
        span{
            color: maroon;
        }

    </style>
</body>
</html>